<div class="sidebar-form"> 
    <select id="versions" class="form-control">
    </select>
</div>
<hr>

<script>
(function() {
  $.ajax({
      url: "/versions.json",
      type: "GET",
      dataType: "json",
	  success: function( data ) {
		$.each(data, function( i, item ) {
			$("#versions").append('<option value="' + item + '">' + item + '</option>');
		});
	  }
    })
})();
</script> 